[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
python-slugify = "*"
nltk = "*"
fasttext = "*"
numpy = "*"
scikit-learn = "*"
django-cors-headers = "*"
rake-nltk = "*"
pke = {git = "https://github.com/boudinfl/pke.git"}
spacy = "*"
rank-bm25 = "*"

[dev-packages]
mypy = "*"
django-stubs = "*"
black = "*"

[requires]
python_version = "3.9"
